<%- include('partials/head-meta') %>
<%- include('partials/header') %>
    <main>
        <h2>Sample Title</h2>
        <p>This is the content of a blog and stuff.</p>
    </main>
<%- include('partials/footer') %>